@keyframes activity-animation {
  0% {
    left: -50%;
  }

  50% {
    left: 0%;
  }

  100% {
    left: 150%;
  }
}

.placeholder {
  @apply w-full h-6 relative rounded-sm overflow-hidden;
  background-color: rgba(200, 200, 200, 0.8);
  mix-blend-mode: luminosity;
}

.placeholder-activity {
  @apply absolute h-full;
  width: 50%;
  left: -50%;
  background: linear-gradient(
    90deg,
    hsla(234deg, 34%, 98%, 0) 0%,
    hsla(234deg, 34%, 98%, 1) 50%,
    hsla(234deg, 34%, 98%, 0) 100%
  );
  animation: activity-animation 1.5s linear 0s infinite;
  mix-blend-mode: luminosity;
}
